@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🎨 Dark Theme (default) */
:root {
  --cream: #F8F4EC;
  --accent: #FF9BD2;
  --accent-light: #D63484;
  --dark: #402B3A;
}

html.dark {
  --bg: var(--dark);
  --text: var(--cream);
}

html.light {
  --bg: var(--cream);
  --text: var(--dark);
}

.text-cream {
  color: var(--cream);
}

.text-accent-light {
  color: var(--accent-light);
}

/* Apply Theme */
body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.4s, color 0.4s;
}

/* Utility Classes */
.text-accent {
  color: var(--accent);
}
.text-accent-light {
  color: var(--accent-light);
}

.btn-primary {
  @apply px-6 py-3 rounded-lg shadow font-semibold transition;
  background-color: var(--accent-light);
  color: var(--cream);
}
.btn-primary:hover {
  background-color: var(--accent);
  color: var(--dark);
}

.section-title {
  @apply text-3xl font-bold mb-8;
  color: var(--accent);
}

.card {
  @apply p-6 rounded-lg shadow border;
  background-color: var(--bg);
  border-color: var(--accent-light);
}
.card-title {
  @apply text-xl font-semibold mb-2 text-center;
  color: var(--accent-light);
}
.card-bar {
  width: 40px;       
  height: 2.5px;     
  background-color: var(--accent-light);
  margin: 15px auto 15px;
  border-radius: 2px;
}


/* Skills */
/* Fade-in up animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease forwards;
}

/* Skill tags */
.skill-tag {
  @apply px-5 py-2 rounded-lg text-sm font-medium cursor-default transition transform ;
  background-color: var(--accent-light);
  color: var(--cream);
  position: relative;
}

.skill-tag:hover {
  background-color: var(--accent);
  color: var(--dark);
  transform: scale(1.1);
}

/* Tooltip effect */
.skill-tag[title]:hover::after {
  content: attr(title);
  @apply absolute left-1/2 -translate-x-1/2 -top-8 px-3 py-1 rounded bg-[var(--accent-light)] text-[var(--cream)] text-xs whitespace-nowrap shadow-lg z-50;
  opacity: 1;
  pointer-events: none;
}

/* Project Card Styles*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pc-skill-tag {
  @apply px-5 rounded-lg text-sm font-medium cursor-default transition transform ;
  color: var(--accent-light);
  position: relative;
}

.pc-skill-tag:hover {
  color: var(--cream);
  transform: scale(1.1);
}

/* Tooltip effect */
.pc-skill-tag[title]:hover::after {
  content: attr(title);
  @apply absolute left-1/2 -translate-x-1/2 -top-8 px-3 py-1 rounded bg-[var(--accent-light)] text-[var(--cream)] text-xs whitespace-nowrap shadow-lg z-50;
  opacity: 1;
  pointer-events: none;
}

